media/*
*.pyc
*/migrations/0*
*.sqlite3
static/CACHE/css/d01918ad94b3.css
static/CACHE/js/20edf36cbe86.js
.idea/*
*ReadMe
*.json
*.scss
*.md
red.txt
test.py
campusads/static/new_assets/defaults/adcats_old/toys.png
campusads/static/new_assets/defaults/adcats_old/bookshelf.png
campusads/static/new_assets/defaults/adcats_old/cars.png
campusads/static/new_assets/defaults/adcats_old/coat.png
campusads/static/new_assets/defaults/adcats_old/cycling.png
campusads/static/new_assets/defaults/adcats_old/electronic.png
campusads/static/new_assets/defaults/adcats_old/employee.png
campusads/static/new_assets/defaults/adcats_old/game-console.png
campusads/static/new_assets/defaults/adcats_old/house.png
campusads/static/new_assets/defaults/adcats_old/jewelries.png
campusads/static/new_assets/defaults/adcats_old/kitchen.png
campusads/static/new_assets/defaults/adcats_old/laptop.png
campusads/static/new_assets/defaults/adcats_old/phones.png
campusads/static/new_assets/defaults/adcats_old/ping-pong.png
New_Notes.txt
indexer.log
campusads/static/defaults/test fav.png
*/static/sitemap*
ads/__pycache__/documents.cpython-36.pyc.2699182484624
access.log
account/templates/account/index_old.html
static/*
nginx.conf
/venv/*
venv/*
/spam_img/*
.env
.env2
./db_backup/*
./ican/*
./db_backup*
./ican*
.cache*
.cache/*
.pytest_cache*
.pytest_cache/*
celerybeat-schedule
./celerybeat-schedule